<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveRendering.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACEF21121F7C7A8B00AE1D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACEF21261F7C7A8C00AE1D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACEF21311F7C7A8C00AE1D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
